body {
  background-color: white;
  color: white;
  padding-top: 50px;
}

.white-keys {
  width: 100%;
  height: 100%;
  background-color: azure;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  padding-bottom: 20px;
}
.text {
  color: black;
  position: absolute;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.container1 {
  display: flex;
  width: 100%;
  height: 300px;
  position: relative;
  bottom: -90px;
  gap: 2px;
}

.container2 {
  display: flex;
  width: 100%;
  height: 300px;
  position: relative;
  bottom: 210px;
  gap: 80px;
  justify-content: center;
}

.black-keys {
  width: 30px;
  height: 150px;
  background-color: rgb(34, 34, 34);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  padding-bottom: 15px;
}

.subtext {
  color: antiquewhite;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.white-keys.active {
  background: #ffffff;
  transform: translateY(2px);
}

.black-keys.active {
  background: #000000;
  transform: translateY(2px);
}

.recbtn {
  background-image: url("./buttons/record.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}
.playbtn {
  background-image: url("./buttons/play.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}
.stpbtn {
  background-image: url("./buttons/pause.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}
